{% load static %}

<!doctype html>


<html>
	<head>
		<title>Tattoo Studio RUNA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static '/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static '/assets/css/noscript.css' %}" /></noscript>
	</head>
    <body class="is-preload">

 <div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="fas fa-pen-fancy fa-2x"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Tattoo Studio RUNA</h1>
								<p>RUNA – это объединение мастеров, искренне любящих свое дело.
									Мы будем рады сделать для вас:
										- Уникальную татуировку
											- Исправление и перекрытие старых работ
										- Разработка индивидуальных эскизов
								</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">Услуги</a></li>
								<li><a href="#work">Фото</a></li>
								<li><a href="#about">О нас</a></li>
								<li><a href="#Price">Стоимость</a></li>
								<li><a href="#contact">свзязь</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="intro">
								<h2 class="major">Услуги</h2>
								<span class="image main"><img src="{% static '/images/pic01.jpg' %}" alt="" /></span>
								<h3>RUNA – это объединение мастеров, искренне любящих свое дело.</h3>
								<p>RUNA – это объединение мастеров, искренне любящих свое дело.
											Мы будем рады сделать для вас:
														- Уникальную татуировку
															- Исправление и перекрытие старых работ
											- Разработка индивидуальных эскизов</p>
							</article>

						<!-- Work -->
							<article id="work">
								<h2 class="major">Процесс работы <br> и готовые проекты</h2>
								<span class="image main"><img src="{% static '/content work/1.jpg' %}" alt="" /></span>
								<!-- <p><h3>Фото контент наших работ.</h3></p> -->
								<!-- <p>Фото готовых работ.</p> -->
								<span class="image main"><img src="{% static '/content work/2.jpg' %}" alt="" /></span>
								<span class="image main"><img src="{% static '/content work/3.jpg' %}" alt="" /></span>
								<span class="image main"><img src="{% static '/content work/4.jpg' %}" alt="" /></span>
								<span class="image main"><img src="{% static '/content work/5.jpg' %}" alt="" /></span>
								<span class="image main"><img src="{% static '/content work/6.jpg' %}" alt="" /></span>
								<span class="image main"><img src="{% static '/content work/7.jpg' %}" alt="" /></span>
								<span class="image main"><img src="{% static '/content work/8.jpg' %}" alt="" /></span>
								<span class="image main"><img src="{% static '/content work/9.jpg' %}" alt="" /></span>
								<span class="image main"><img src="{% static '/content work/10.jpg' %}" alt="" /></span>
							</article>

						<!-- About -->
							<article id="about">
								<h2 class="major">О нас</h2>
								<span class="image main"><img src="{% static '/images/pic03.jpg' %}" alt="" /></span>

								<h4>Меня зовут Андрей Кисиленко, я основатель тату-студии РУНА — вот наша история!</h4>

<p>На сегодняшний день РУНА — молодая и развивающаяся тату-студия, с базой довольных клиентов и крутых татуировок. Как же все начиналось?</p>

<p>Мы с Ринатом познакомились в далёком 2000 году в художественном училище. Вместе учились. Вместе прогуливали. И в какой-то момент активно ушли в граффити. Участвовали в десятках конкурсов, занимали первые места и вели активный художественный образ жизни, но потом - пути разошлись. Ринат ушел в роспись помещений, а я занялся дизайном интерьеров и автобизнесом.</p>

<p>Мое желание осваивать новую профессию на этом не закончилось. Встретившись с моим одногрупником по художественному училищу, у которого на тот момент уже была своя студия Black Label, я начал в ней работать и набираться опыта, параллельно ведя свой маленький бизнес.</p>

<p>Поработав в ней около года обстоятельства сложились таким образом, что пришлось делать выбор: бизнес или татуировка, татуировка отошла на второй план, став любимым хобби.</p>

<p>В 2016 году нас снова свела жизнь: с возрастом каждого из нас стала интересовать родная культура, ведическое мировоззрение, которые и были той точкой соприкосновения. И родилось название РУНА. Мы вновь стали плотно общаться и мое увлечение татуировкой заинтересовало Рината, но видимо было не время.</p>

<p>И вот спустя 2 года, мы встретились снова и поняли, что нужно заниматься любимым делом и что татуировка должна быть не просто хобби, а основной профессией. На этот раз мы моментально нашли общий язык и общий вектор развития и начали всерьез думать как создать свою студию.</p>

<p>Долгими чайными вечерами обсуждали и прикидывали, планировали и строили планы нашего тату будущего. Летом 2019 года открыли нашу студию! Первое время перебивались моими старыми клиентами, работала только «сарафанка», а сама студия находилась в Старом городе.</p>

<p>В конце года, когда принято подводить итоги, мы поняли, что на начальном этапе формат домашней тату-студии для нас оптимален: позволяет сделать цены более доступными, а также больше сосредоточится на главном, на творчестве. Мы приняли решение переехать со своей студией в Южный город.

На сегодняшний день, помимо тату, мы пишем картины и стараемся стать лучше, чем вчера. Развитие, обучение, поездки на тату-конвенции (выставки) и новая информация это то, что влияет на качество наших татуировок.

Имея за плечами многолетний художественный опыт в различных направлениях, мы готовы воплотить ваши пожелания с нашим творческим взглядом «на вашем теле»!</p>
							</article>


								<article id="Price">
								<h3 class="major">Стоимость услуг</h3>
								<span class="image main"><img src="{% static '/content work/11.jpg' %}" alt="" /></span>
								<div>
									<h3>По сложности и объему.</h3>
<p>В данном случае мастер оценивает сложность и кропотливость предстоящей работы, беря во внимание стилистику, размер татуировки, количество цветов, слоев и так далее. Многие считают этот способ оценки наиболее корректным и справедливым. Другие спорят, что для действительно профессионального мастера стилистика и прочие технические аспекты не имеют большого значения, а сложные работы в реализме делаются так же легко, как иероглифы и надписи.</p>

<h3>По времени.</h3>
<p>Сегодня это самый популярный способ оценки, который применяются в большинстве тату салонов. Когда Вы задаете вопрос, сколько стоит моя татуировка, Вам говорят, сколько займет времени работа, и исходя из этого определяют стоимость. В таком случае также существует два способа:
оценивается количество часов;
оценивается количество сеансов.
Сеанс это по сути 1 день работы. Это может быть 2,3,4 часа, в разных местах — по-разному. Смысл в том, что при рассчете стоимости тату определяется, сколько потребуется сеансов на Вашу работу, и количество сеансов умножается на стандартную стоимость сеанса.</p>

<p>Например, сеанс стоит 5000 рублей, а на Вашу татуировку понадобится 2 сеанса, таким образом, за тату придется выложить 5000*2=10000 рублей.</p>

<h3>По настроению.</h3>
<p>Конечно, это немного утрированная формулировка. Имеется в виду то, что в данном случае нет четких формул рассчета, а тату мастер или студия определяют стоимость Вашей татуировки исходя из опыта предыдущих работ и некоторых других факторов. Впрочем, как правило, все три перечисленные способы рассчета дают более-менее похожий результат. </p>
								</div>
								</article>

						<!-- Contact -->
							<article id="contact">
								<h3 class="major">Оставьте заявку<br>и мы скоро с вами свяжемся</h3>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="4"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</form>
								<ul class="icons">

									<li><a href="https://vk.com/tattooruna" class="icon brands fa-vk"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/tattooruna/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>

								</ul>
							</article>

						<!-- Elements -->
							<article id="elements">
								<h2 class="major">Elements</h2>

								<section>
									<h3 class="major">Text</h3>
									<p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
									This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
									This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.</p>
									<hr />
									<h2>Heading Level 2</h2>
									<h3>Heading Level 3</h3>
									<h4>Heading Level 4</h4>
									<h5>Heading Level 5</h5>
									<h6>Heading Level 6</h6>
									<hr />
									<h4>Blockquote</h4>
									<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
									<h4>Preformatted</h4>
									i = 0;

while (!deck.isInOrder()) {
    print 'Iteration ' + i;
    deck.shuffle();
    i++;
}

print 'It took ' + i + ' iterations to sort the deck.';
								</section>

								<section>
									<h3 class="major">Lists</h3>

									<h4>Unordered</h4>
									<ul>
										<li>Dolor pulvinar etiam.</li>
										<li>Sagittis adipiscing.</li>
										<li>Felis enim feugiat.</li>
									</ul>

									<h4>Alternate</h4>
									<ul class="alt">
										<li>Dolor pulvinar etiam.</li>
										<li>Sagittis adipiscing.</li>
										<li>Felis enim feugiat.</li>
									</ul>

									<h4>Ordered</h4>
									<ol>
										<li>Dolor pulvinar etiam.</li>
										<li>Etiam vel felis viverra.</li>
										<li>Felis enim feugiat.</li>
										<li>Dolor pulvinar etiam.</li>
										<li>Etiam vel felis lorem.</li>
										<li>Felis enim et feugiat.</li>
									</ol>
									<h4>Icons</h4>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
									</ul>

									<h4>Actions</h4>
									<ul class="actions">
										<li><a href="#" class="button primary">Default</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions stacked">
										<li><a href="#" class="button primary">Default</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
								</section>

								<section>
									<h3 class="major">Table</h3>
									<h4>Default</h4>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Item One</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Two</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Three</td>
													<td> Morbi faucibus arcu accumsan lorem.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Four</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Five</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>

									<h4>Alternate</h4>
									<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Item One</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Two</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Three</td>
													<td> Morbi faucibus arcu accumsan lorem.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Four</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Five</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</section>

								<section>
									<h3 class="major">Buttons</h3>
									<ul class="actions">
										<li><a href="#" class="button primary">Primary</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button">Default</a></li>
										<li><a href="#" class="button small">Small</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button primary icon solid fa-download">Icon</a></li>
										<li><a href="#" class="button icon solid fa-download">Icon</a></li>
									</ul>
									<ul class="actions">
										<li><span class="button primary disabled">Disabled</span></li>
										<li><span class="button disabled">Disabled</span></li>
									</ul>
								</section>

								<section>
									<h3 class="major">Form</h3>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="demo-name">Name</label>
												<input type="text" name="demo-name" id="demo-name" value="" placeholder="Jane Doe" />
											</div>
											<div class="field half">
												<label for="demo-email">Email</label>
												<input type="email" name="demo-email" id="demo-email" value="" placeholder="jane@untitled.tld" />
											</div>
											<div class="field">
												<label for="demo-category">Category</label>
												<select name="demo-category" id="demo-category">
													<option value="">-</option>
													<option value="1">Manufacturing</option>
													<option value="1">Shipping</option>
													<option value="1">Administration</option>
													<option value="1">Human Resources</option>
												</select>
											</div>
											<div class="field half">
												<input type="radio" id="demo-priority-low" name="demo-priority" checked>
												<label for="demo-priority-low">Low</label>
											</div>
											<div class="field half">
												<input type="radio" id="demo-priority-high" name="demo-priority">
												<label for="demo-priority-high">High</label>
											</div>
											<div class="field half">
												<input type="checkbox" id="demo-copy" name="demo-copy">
												<label for="demo-copy">Email me a copy</label>
											</div>
											<div class="field half">
												<input type="checkbox" id="demo-human" name="demo-human" checked>
												<label for="demo-human">Not a robot</label>
											</div>
											<div class="field">
												<label for="demo-message">Message</label>
												<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Send Message" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								</section>

							</article>

					</div>

				<!-- Footer -->
					<footer id="footer">
								<br>
								<ul class="icons">
								<li><a href="#" class="icon brands fa-telegram"><span class="label">telegram</span></a></li>
								<li><a href="https://vk.com/tattooruna" class="icon brands fa-vk"><span class="label">vk</span></a></li>
								<li><a href="https://www.instagram.com/tattooruna/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
								</ul>

					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{% static '/assets/js/jquery.min.js' %}"></script>
			<script src="{% static '/assets/js/browser.min.js' %}"></script>
			<script src="{% static '/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static '/assets/js/util.js' %}"></script>
			<script src="{% static '/assets/js/main.js' %}"></script>

	</body>
</html>
